<?xml version="1.0" encoding="UTF-8"?>
<pfsense>
	<version>23.5</version>
	<lastchange></lastchange>
	<theme>pfsense</theme>
	<sysctl>
		<item>
			<descr><![CDATA[Disable the pf buffer limit]]></descr>
			<tunable>net.pf.request_maxcount</tunable>
			<value>200000</value>
		</item>
	</sysctl>
	<system>
		<optimization>normal</optimization>
		<hostname>pfsense</hostname>
		<domain>lab.local</domain>
		<dnsallowoverride/>
		<dnsserver>1.1.1.1</dnsserver>
		<dnsserver>8.8.8.8</dnsserver>
		<username>admin</username>
		<timezone>Etc/UTC</timezone>
		<time-speakers>0.pfsense.pool.ntp.org</time-speakers>
		<webgui>
			<protocol>https</protocol>
			<ssl-certref>66a6a1b2c3d4e</ssl-certref>
			<port>443</port>
			<max_processes>2</max_processes>
		</webgui>
	</system>
	<interfaces>
		<wan>
			<enable/>
			<if>em0</if>
			<descr><![CDATA[WAN]]></descr>
			<ipaddr>dhcp</ipaddr>
			<ipaddrv6>dhcp6</ipaddrv6>
		</wan>
		<lan>
			<enable/>
			<if>em1</if>
			<descr><![CDATA[MGMT]]></descr>
			<ipaddr>10.0.0.1</ipaddr>
			<subnet>24</subnet>
		</lan>
		<opt1>
			<enable/>
			<if>em2</if>
			<descr><![CDATA[CYBER]]></descr>
			<ipaddr>10.10.10.1</ipaddr>
			<subnet>24</subnet>
		</opt1>
		<opt2>
			<enable/>
			<if>em3</if>
			<descr><![CDATA[AD]]></descr>
			<ipaddr>10.20.20.1</ipaddr>
			<subnet>24</subnet>
		</opt2>
		<opt3>
			<enable/>
			<if>em4</if>
			<descr><![CDATA[SECURITY]]></descr>
			<ipaddr>10.30.30.1</ipaddr>
			<subnet>24</subnet>
		</opt3>
		<opt4>
			<enable/>
			<if>em5</if>
			<descr><![CDATA[MALWARE]]></descr>
			<ipaddr>10.40.40.1</ipaddr>
			<subnet>24</subnet>
		</opt4>
	</interfaces>
	<dhcpd>
		<lan>
			<enable/>
			<range>
				<from>10.0.0.100</from>
				<to>10.0.0.200</to>
			</range>
			<dnsserver>10.0.0.1</dnsserver>
		</lan>
		<opt1>
			<enable/>
			<range>
				<from>10.10.10.100</from>
				<to>10.10.10.200</to>
			</range>
			<dnsserver>10.10.10.1</dnsserver>
		</opt1>
		<opt2>
			<enable/>
			<range>
				<from>10.20.20.100</from>
				<to>10.20.20.200</to>
			</range>
			<dnsserver>10.20.20.10</dnsserver>
			<dnsserver>10.20.20.1</dnsserver>
			<domain>corp.local</domain>
		</opt2>
		<opt3>
			<enable/>
			<range>
				<from>10.30.30.100</from>
				<to>10.30.30.200</to>
			</range>
			<dnsserver>10.30.30.1</dnsserver>
		</opt3>
		<opt4>
			<enable/>
			<range>
				<from>10.40.40.100</from>
				<to>10.40.40.200</to>
			</range>
			<dnsserver>10.40.40.1</dnsserver>
		</opt4>
	</dhcpd>
	<unbound>
		<enable/>
		<dnssec/>
		<active_interface>all</active_interface>
		<outgoing_interface>wan</outgoing_interface>
		<custom_options></custom_options>
		<hosts>
			<host>pfsense</host>
			<domain>lab.local</domain>
			<ip>10.0.0.1</ip>
			<descr><![CDATA[pfSense WebGUI Host Override]]></descr>
		</hosts>
		<hosts>
			<host>siem</host>
			<domain>lab.local</domain>
			<ip>10.30.30.10</ip>
			<descr><![CDATA[SIEM Wazuh Host Override]]></descr>
		</hosts>
		<domainoverrides>
			<domain>corp.local</domain>
			<ip>10.20.20.10</ip>
			<descr><![CDATA[Active Directory Domain Controller Forwarder]]></descr>
		</domainoverrides>
	</unbound>
	<filter>
		<rule>
			<id/>
			<type>pass</type>
			<interface>lan</interface>
			<ipprotocol>inet</ipprotocol>
			<statetype>keep state</statetype>
			<direction>in</direction>
			<source>
				<network>lanip</network>
			</source>
			<destination>
				<network>lan</network>
			</destination>
			<descr><![CDATA[Default Management Anti-Lockout Rule]]></descr>
		</rule>
		<rule>
			<id/>
			<type>pass</type>
			<interface>lan</interface>
			<ipprotocol>inet</ipprotocol>
			<statetype>keep state</statetype>
			<direction>in</direction>
			<source>
				<network>lan</network>
			</source>
			<destination>
				<any/>
			</destination>
			<descr><![CDATA[Allow Full Outbound Egress for Management Subnet]]></descr>
		</rule>
		<rule>
			<id/>
			<type>block</type>
			<interface>opt4</interface>
			<ipprotocol>inet</ipprotocol>
			<statetype>keep state</statetype>
			<direction>in</direction>
			<source>
				<network>opt4</network>
			</source>
			<destination>
				<address>10.0.0.0/8</address>
			</destination>
			<descr><![CDATA[Block Malware Sandbox Inter-VLAN Egress]]></descr>
		</rule>
	</filter>
	<nat>
		<outbound>
			<mode>hybrid</mode>
		</outbound>
	</nat>
</pfsense>
